<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header.ejs') %>
  <body>
    <div class="section">
      <%- include('../partials/nav.ejs') %>
      
    
            <p>
          <input type="text" name="title" id='title' placeholder="제목을 입력해주세요" class="inputs" />
        </p>
        <div class='info-placehoder'>
        <span class='user-info'>
          <input
            type="text"
            name="author"
            placeholder="작성자명을 입력해주세요"
            class="inputs"
            id='author'
          />
          </span>
          <span class='user-info'>
          <input
            type="password"
            name="password"
            placeholder="비밀번호를 입력해주세요"
            class="inputs"
            id='password'
          />
          </span>
        </p>
        </div>
        <p >
          <textarea name="body" id='body' placeholder="작성할 내용을 입력해주세요" class='textarea-placeholder'></textarea>
        </p>
        <input type="button" onclick="writePost(document.getElementById('title').value,
     document.getElementById('body').value,
     document.getElementById('password').value,
     document.getElementById('title').value,
     document.getElementById('author').value)"
     >글쓰기</input>

      <%- include('../partials/footer.ejs') %>
     </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <script src="index.js"></script>
  </body>
</html>
