<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header.ejs') %>
  <body>
    <div class="section">
      <%- include('../partials/nav.ejs') %>
          <p>
          <input type="text" name="title" id='title' placeholder="제목을 입력해주세요" class="inputs" />
        </p>
        <div class='info-placeholder'>
       
          <span class='user-info'>
          
          </span>
        </p>
        </div>
        <p >
          <textarea name="body" id='content' placeholder="작성할 내용을 입력해주세요" class='textarea-placeholder'></textarea>
        </p>
        <button type="submit" onclick="writePost(
          document.getElementById('title').value, 
     document.getElementById('content').value)"
     >글쓰기</button>

      <%- include('../partials/footer.ejs') %>
     </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <script src="/posts.js"></script>
     
  </body>
</html>
