<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header.ejs') %>
  <body>
    <h1>registerPage</h1>
    <div>
      <div>
        <label for="author">닉네임</label><br />
        <input type="text" id="author" name="author" placeholder="닉네임을 적어 주세요" />
      </div>
      <div>
        <label for="email">이메일</label><br />
        <input type="text" id="email" placeholder="hello@hello.com" name="email" />
      </div>
      <div>
        <label for="password">비밀번호</label><br />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="비밀번호를 입력해주세요"
        />
        <button
          type="submit"
          onclick="signup(
          document.getElementById('author').value,
          document.getElementById('password').value,
          document.getElementById('email').value)"
        >
          회원가입
        </button>
      </div>
    </div>
  </body>
</html>
